@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply font-pressStart;
}
.bg-cover {
  background-attachment: fixed;
}
html {
  scroll-behavior: smooth;
}
.bg-zoom {
  transform: scale(1.1); /* Adjust the scale value as needed */
  transform-origin: center;
}
.text-shadow {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.pixelated {
  image-rendering: pixelated;
}

.pixelated-text {
  font-family: 'Press Start 2P', cursive;
}

.scrolldown {
  position: relative;
  width: 30px;
  height: 50px;
  border: 3px solid rgb(241, 245, 11);
  border-radius: 25px;
}
.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: rgb(234, 250, 12);
  border-radius: 100%;
  box-shadow: 0px -5px 3px 1px rgba(203, 248, 2, 0.6);
  animation: scrolldown-anim 2s infinite;
}
@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    opacity: 0;
    transform: translate(-50%, 20px);
    height: 10px;
  }
  100% {
    opacity: 0;
    height: 3px;
  }
}
.scrolldown::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 7px;
  height: 7px;
  border: 2px solid rgb(243, 247, 5);
  border-top: none;
  border-left: none;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
.overflow-hidden {
  overflow: hidden;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}