/* styles/Home.module.css */
@keyframes bonkers {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.animateBonkers {
  animation: bonkers 0.1s infinite;
}

.nearButton {
  background-color: blue; /* Change this color as needed */
}
